.gsd-keyboard.settings-ported
Electron/
autostart/
containers/
dconf/
discord/
evolution/
gcloud/
gnome-initial-setup-done
gnome-session/
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
mimeapps.list
pulse/
user-dirs.dirs
user-dirs.locale
update-notifier/
nautilus/
*-backup*
google-chrome
